.footer-list {

    display: flex;
    justify-content: flex-end;
    margin-right: 15%;

    flex-direction: row;
    align-items: center;
}

.footer-container {
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.buttons-footer {
    padding: 6px 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: space-between;
}

.buttons-footer-counter {
    padding: 6px 8px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
}