.bar {
  background: rgb(30, 30, 31);
  padding: 10px 20px;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  position: sticky;
}

.logo_header {
  width: 72px;
  height: 52px;
}
.left-tittle {
  display: flex;
  align-items: center;
  gap: 67px;
}

.right-tittle {
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  background-color: initial;
}

.profile-picture {
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 10px;
  position: relative;
}

.profile {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.button-header {
  background: rgb(30, 30, 31);
  color: white;
  border: none;
}

.Header__button {
  text-align: left;
  position: absolute;
  height: 30px;
  width: 210px;
  background: rgb(30, 30, 31);
  border: none;
  color: white;
}

.button1 {
  top: 50px;
  left: -10px;
}
.button1 a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.button2 {
  top: 80px;
  left: -10px;
}
