.container{
    background-color: rgb(41,42,43);
    margin: 2% 15%;
    overflow: scroll;

}

::-webkit-scrollbar {
    display: none;
}

.first-bar{
    display: flex;
    align-items: flex-start;



}


.des-button{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.second-bar {
    border-bottom: 1px solid black;
    align-items: center;
    border-top: 1px solid black;



}
.first-bar-buttons{
    background-color: rgb(41,42,43);
    color: white;
    display: flex;
    align-items: center;

    cursor: pointer;
    border: none;


}



.button-filter{
    color: white;
    background-color: rgb(30,30,31);
    cursor: pointer;
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loupe{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.search-space{
    align-items: flex-start;
    display: flex;

    gap: 10px;

    padding: 2px;
    border-radius: 2px;
    background-color: rgb(41,42,43);
    justify-content: space-between;



}

.search-place{
    background-color: rgb(30,30,31);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    display: flex;
    align-items: unset;
    gap: 10px;
}


.search{
    background-color: rgb(30,30,31);
    border: none;
    width: 300px;



}


.footer-list{

    display: flex;
    justify-content: flex-end;
    margin-right: 15%;

    flex-direction: row;
    align-items: center;

}

.footer-container{
    display: flex;
    padding-bottom: 20px;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}

.buttons-footer{
    padding: 6px 8px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    justify-content: space-between;


}



.buttons-footer-counter{
    padding: 6px 8px;
    width: 40px;
    height: 35px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;

}