.dialog-container {
    /* @TODO: responsive design (temporarily set a fixed size) */
    width: 520px;
    max-height: 80vh;

    overflow: scroll;
    
    display: flex;
    flex-direction: column;
    background-color: #0a0a0a;
}

.dialog-content {
    color: #f7f7f7;
    font-size: 14px;
    width: 100%;
    padding: 0;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 22px;
    font-weight: bold;
    margin: 5px 0;
}

.dialog-actions {
    justify-content: center;
}