.btn-reserve-call{
    background-color: #e02735;
    color: #f7f7f7;
    padding: 6px 8px;
    width: auto;
    height: auto;
    cursor: pointer;
    border: none;
    margin-bottom: 10px;
}

.third-bar{
    display: flex;
    flex-direction: column;
}

.username-candidate-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.candidate-bar{
    display: flex;
    border-bottom: 20px solid rgb(30, 30, 31);
    gap: 15px;
    justify-content: space-between;
    margin: 10px 23px;

}
