.score {
    display: flex;
    align-items: center;
    gap: 3px;
}

.score-input {
    width: 50px;
    background-color: #292A2B;
    color: #f7f7f7;
    border: none;
    text-align: center;
    margin-right: 5px;
}